<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.facturacionlibreria">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACTION_OPEN_DOCUMENT"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/libreria"
        android:label="@string/app_name"
        android:roundIcon="@drawable/libreria"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.FacturacionCarpintero"
        android:usesCleartextTraffic="true">
        <activity android:name="com.example.facturacionlibreria.MainEliminar_Actualizar"></activity>
        <activity android:name="com.example.facturacionlibreria.MainFactura" />
        <activity android:name="com.example.facturacionlibreria.MainDetalleProducto" />
        <activity android:name="com.example.facturacionlibreria.MainListaProductos" />
        <activity android:name="com.example.facturacionlibreria.MainClientes" />
        <activity android:name="com.example.facturacionlibreria.MainActivity">
            <intent-filter>

                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>
    </application>

</manifest>